body {
    font-family: 'Roboto', sans-serif;
};

.search-bar {
    position: absolute;
    height: 60px;
    background-color: rgb(68, 68, 68);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
};

.search-input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 500px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
};

.search-bar button {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
};